@model Gestionador.Models.Partidos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Partidos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label>
                <input asp-for="Dia" class="form-control" />
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipoLocalID" class="control-label"></label>
                <input asp-for="EquipoLocalID" class="form-control" />
                <span asp-validation-for="EquipoLocalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipoVisitanteID" class="control-label"></label>
                <input asp-for="EquipoVisitanteID" class="form-control" />
                <span asp-validation-for="EquipoVisitanteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MesaPrincipal" class="control-label"></label>
                <input asp-for="MesaPrincipal" class="form-control" />
                <span asp-validation-for="MesaPrincipal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArbitroAsistente1" class="control-label"></label>
                <input asp-for="ArbitroAsistente1" class="form-control" />
                <span asp-validation-for="ArbitroAsistente1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArbitroAsistente2" class="control-label"></label>
                <input asp-for="ArbitroAsistente2" class="form-control" />
                <span asp-validation-for="ArbitroAsistente2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuntosLocal" class="control-label"></label>
                <input asp-for="PuntosLocal" class="form-control" />
                <span asp-validation-for="PuntosLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuntosVisitante" class="control-label"></label>
                <input asp-for="PuntosVisitante" class="form-control" />
                <span asp-validation-for="PuntosVisitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
