@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="./lib/LogoBlancoyNegro.png" />
    <style>
        img {
            display: block;
            margin: 0 auto; /* Centrar horizontalmente */
            max-width: 50%; /* Ajustar el tamaño máximo de la imagen según tus necesidades */
            height: auto;
        }
    </style>
    <h1 class="display-4">Bienvenidos a LeagueMaster</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>